/* Seletor Universal -> aplica o estilo a todos os elementos HTML da página.
Margin -> remove as margens padrão dos elementos
Padding -> remove os espaçamentos internos padrão
Box-sizing: border-box -> faz com que o tamanho de cada elemento (largura/altura) inclua a borda e o padding, facilitando o controle do layout. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: #333333;
    text-align: left;
}

h1 {
    font-size: 36px;
    color: #1a1a1a1;
    text-align: center;
}
h2 {
    font-size: 28px;
    color: #2c3e50;
    text-align: center;
}
h3 {
    font-size: 24px;
    color: #34495e;
    text-align: left;
}
h4 {
    font-size: 20px;
    color: #555555;
}

p {
    font-size: 14px;
    color: #444444;
    text-align: justify;
}

div {
    text-align: left;
}

span {
    color: #0066cc;
    font-size: 14px;
}


.destaque {
    color: #e74c3c;
    font-size: 16px;
}

.secao {
    text-align: center;
}


.link-social {
    color: #16a085;
    font-size: 15px;
}

.tecnologia {
    color: #8e44ad;
    font-size: 14px;
}

/* duas novas classes personalizadas */
.titulo-principal {
    color: #004d40;
    font-size 28px;
    text-align: center;
    margin-bottom: 5px;
}

.subtitulo {
    color: #8e44ad;
    font-size: 16px;
    text-align: right;
    line-height: 1.4;
}

/* aplicando alinhamenteos diferentes */
#contatos {
    text-align: left;
}

#estudos-atuais {
    text-align: justify;
}

#tecnologias-conhecidas {
    text-align: right;
}

/* desafio 1 - bordas das divs */
div {
    border: 2px solid #8e44ad;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}

/* Desafio 2 - Avatar e ícones */
.avatar-container {
    text-align: center;
    margin-bottom: 15px;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #16a085;
    object-fit: cover;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px; /* espaço estre a imagem e o texto */
    border-bottom: 2px solid #8e44ad;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.info-pessoal {
    text-align: left;
}   