/* Seletor Universal -> aplica o estilo a todos os elementos HTML da página.
Margin -> remove as margens padrão dos elementos
Padding -> remove os espaçamentos internos padrão
Box-sizing: border-box -> faz com que o tamanho de cada elemento (largura/altura) inclua a borda e o padding, facilitando o controle do layout. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 36px;
    color: #333333;
    text-align: left;
}

h1 {
    font-size: 36px;
    color: #1a1a1a1;
    text-align: center;
}
h2 {
    font-size: 28px;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 14px;
}
h3 {
    font-size: 24px;
    color: #34495e;
    text-align: left;
}